<style>
  .message-content { font-family: Arial, Helvetica, sans-serif; max-width:
  600px; font-size: 18px; line-height: 24px; }
</style>

<div class='message-content'>
  <p>Hello {{name}}!</p>
  <br />
  <p>To reset your password on API Store, please click on the link below</p>
  <p>
    <a href='{{link}}'>Reset password</a>
  </p>
  <p>If you didn't request this reset, please ignore this message.</p>
  <br />
</div>
